.quote {
  &__layout {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;

    @media screen and (min-width: 600px) {
      width: 600px;
      height: 260px;
      grid-template-columns: 2fr 1fr;
      background: cornsilk;
      box-shadow: 0 0 10px rgba(102, 101, 101, 0.5);
    }

    @media screen and (min-width: 960px) {
      width: 940px;
      height: 300px;
    }
  }

  &__text {
    width: 100%;
    height: 130px;
    text-align: center;
    color: rgb(133, 78, 42);
    font-size: 21px;
    font-weight: 700;
    padding: 0 18px;

    @media screen and (min-width: 600px) {
      margin-top: 45px;
      height: 100%;
      color: #546459;
      font-size: 22px;
      font-style: italic;
    }

    @media screen and (min-width: 960px) {
      font-size: 28px;
    }
  }

  &__character {
    margin-top: 8px;
    font-size: 20px;
    font-style: italic;
    color: rgb(194, 99, 36);

    @media screen and (min-width: 600px) {
      margin-top: 18px;
      color: #90b49d;
    }

    @media screen and (min-width: 960px) {
      font-size: 24px;
    }
  }

  &__character-image {
    width: 180px;
    height: auto;
    margin: 0 auto;

    @media screen and (min-width: 960px) {
      width: 220px;
    }
  }
}

.next {
  &__button-layout {
    margin: 26px auto 0;
    text-align: center;

    @media screen and (min-width: 600px) {
      margin: 36px auto 0;
    }
  }

  &__button {
    background: rgb(184, 116, 70);
    color: wheat;
    width: 110px;
    height: 50px;
    font-size: 18px;
    font-weight: 500;
    border: solid;
    border-radius: 28px;

    &:hover,
    &:focus,
    &:active {
      background: rgb(160, 97, 55);
      transition: 0.1s linear;
      cursor: pointer;
    }

    @media screen and (min-width: 600px) {
      background: #e90856;
      color: cornsilk;
      width: 160px;
      height: 50px;
      font-size: 20px;

      &:hover,
      &:focus,
      &:active {
        background: #ce074d;
      }
    }

    @media screen and (min-width: 960px) {
      width: 180px;
      height: 60px;
      font-size: 22px;
    }
  }
}
